
*.sh

*.bat

CHANGELOG

LICENSE.txt

bin/

conf/

docs/

eclipse/*
!eclipse/Client
eclipse/Client/*
!eclipse/Client/bin
eclipse/Client/bin/*
!eclipse/Client/bin/textures
eclipse/Client/bin/textures/*
!eclipse/Client/bin/textures/blocks
!eclipse/Client/bin/textures/items
eclipse/Client/bin/textures/blocks/*
!eclipse/Client/bin/textures/blocks/Ritualistic*
eclipse/Client/bin/textures/items/*
!eclipse/Client/bin/textures/items/Ritualistic*

jars/

logs/

runtime/

temp/

src/minecraft/*
!src/minecraft/net
src/minecraft/net/*
!src/minecraft/net/minecraft
src/minecraft/net/minecraft/*
!src/minecraft/net/minecraft/src
src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/Ritualistic*
!src/minecraft/net/minecraft/src/BlockCloth.java

src/minecraft_server/*
!src/minecraft_server/net
src/minecraft_server/net/*
!src/minecraft_server/net/minecraft
src/minecraft_server/net/minecraft/*
!src/minecraft_server/net/minecraft/src
src/minecraft_server/net/minecraft/src/*
!src/minecraft_server/net/minecraft/src/Ritualistic*